/* in questo bonus provo a fare le cose in modo diverso per quanto riguarda la centratura verticale di "leadership" + provo a mettere fixed l'header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 1vh 0;
}

.container > :not(:last-child),
main > :not(:last-child) {
  margin-bottom: 1vh;
}

header {
  position: relative;
  width: 100%;
  height: 10vh;
}
header img {
  display: block;   /* nb: senza display block se andavo a diminuire molto l'altezza della finestra l'immagine andava per conto suo. è una caratteristica dell'inline-block? */
  height: 50%;
}
header ul {
  position: absolute;
  top: 75%; /* poco elegante */
  transform: translate(0,-50%);
  list-style: none;
}
header li {
  float: left;   /* ho provato a mettere inline block ma succede la stessa cosa di quello che ho scritto in header img */
  margin-right: 2vh;   /* metto un margine orizzontale in proporzione a vh solo perchè mi piace l'effetto estetico di uniformità ma sono consapevole che è diverso da vw */
  font-size: 0.8em;
  color: grey;
}

main {
  width: 100%;
}

/* inizio prima section */

section:first-child {
  position: relative;
  width: 100%;
  height: 30vh;
}
main img,
.layover {
  width: 100%;
  height: 100%;
  border-radius: 1vh;
}
main img {
  object-fit: cover;
}
.layover {
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.2);
}
section:first-child .text {
  position: absolute;
  max-width: 50%;
  bottom: 10%;
  left: 5%;
  color: white;
}

/* fine prima section */

/* inizio seconda section */

section:last-child {
  width: 100%;
}
.top {
  position: relative;
  float: left;
  width: 100%;
  min-height: 10vh;
  margin-bottom: 1vh;
}
.text_container {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.text_container h1 {
  font-weight: 900;
}
section:last-child > :not(.top) {
  position: relative;
  float: left;
  min-height: 35vh;
  margin-bottom: 1vh;
}
.left, .right {
  width: 20%;
}
.center {
  width: calc(100% - (20% + 20% + 2vh));
  margin: 0 1vh;
}
section:last-child .img_container {
  position: relative;
  height: 200px;
  width: 100%;
}
section:last-child h3 {
  margin-top: 1vh;
  font-weight: 400;
}

/* fine seconda section */

footer {
  position: relative;
  width: 100%;
  height: calc(100vh - (10vh + 30vh + 10vh + 35vh + 7vh));
  font-weight: 400;
}
